<h1>New Country</h1>
<p>Enter some new data</p>

<%= form_for(@countries) do |f| %>

<%= f.label :country %>
<%= f.text_field :country %>

<%= f.label :visits %>
<%= f.text_field :visits %>

<%= f.submit "Save" %>

<% end %>